{% extends 'base.html' %}
{% load static %}

{% block content %}

<h4 class="text-center mb-3"><bold>Experience</bold></h4>
<div class="experience-section container bg-white rounded">
    <div class="row">
        {% for item in sections.experiences.experiences %}
        <div class="col-md-6 text-center p-4">
            <h5 class="experience-title">{{ item.title }} <a href="{{ item.url }}" target="_blank"> <img class="experience-image" data-bs-toggle="tooltip" title="{{ item.tooltip }}" src="{% static item.image_path %}" /> </a>
            </h5>
            <p class="experience-subtitle">{{ item.subtitle }}</p>
            <p class="experience-date">{{ item.date }}</p>
            <p class="experience-body">{{ item.description }}</p>
        </div>
        {% endfor %}
    </div>  
</div>

<h4 class="text-center mb-2 mt-2"><bold>Skills</bold></h4>
<div class="education-section container bg-white p-2 rounded mt-3 mb-3">
    <div class="row">
        {% for skill in sections.skills.skills %}
        <div class="col-md-3 text-center mt-2 mb-2">
    
            {% if skill.url|slice:"-4:" == ".mp4" %}
            <img 
                class="navbar-icons curriculum-icon"
                src="{% static skill.image_path %}"
                data-video="{{ skill.url }}"
            />
            {% else %}
            <img 
                class="navbar-icons curriculum-icon"
                src="{% static skill.image_path %}"
                data-pdf="{{ skill.url }}"
            />
            {% endif %}
        
        </div>
        {% endfor %}
    </div>
</div>

<h4 class="text-center mb-2 mt-2"><bold>Others</bold></h4>
<div class="education-section container bg-white rounded mt-3 mb-3">
    <div class="row">

        {% for other in sections.others.others %}
        
        <div class="col-md-4 text-center mb-2 mt-2">
            <a href="{{ other.url }}">

                <img class="navbar-icons curriculum-icon" 
                    data-bs-toggle="tooltip" 
                    title="{{ other.tooltip }}" 
                    src="{% static other.image_path %}"
                    data-pdf="{{ other.url }}"
                    data-bs-toggle="modal" data-bs-target="#auxModal"/>
            </a>
        </div>
        
        {% endfor %}

    </div>
</div>   

{% endblock %}
