{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="experience-section container bg-white pt-5 rounded">
    <div class="row">
        <div class="col-md-6 text-center mb-3">
            <h5 class="experience-title">DS/Automation Specialist</h5>
            <p class="experience-subtitle">Linde</p>
            <p class="experience-date">Apr 2024 - Present</p>
            <p class="experience-body">As part of the digitalization team for the EMEA region, I have contributed to the design, development, and implementation of cutting-edge digital solutions.</p>
            <img width="20%" class="pt-3" data-bs-toggle="tooltip" title="Check company" src="{% static 'img/Linde_logo.png' %}"/>
        </div>

        <div class="col-md-6 text-center mb-3">
            <h5 class="experience-title">RPA Developer (Spain)</h5>
            <p class="experience-subtitle">OMYA</p>
            <p class="experience-date">Jun 2022 - Apr 2024</p>
            <p class="experience-body">RPA developing using UiPath, PowerAutomate and Azure DevOps. Power Platform developer using PowerApps, PowerAutomate and Office365 services.</p>
            <img width="14%" class="pt-3" data-bs-toggle="tooltip" title="Check company" src="{% static 'img/OMYA_logo.jpg' %}"/>
        </div>

        <div class="col-md-6 text-center mb-3">
            <h5 class="experience-title">Software Developer (Spain)</h5>
            <p class="experience-subtitle">Seidor</p>
            <p class="experience-date">Nov 2020 - Jun 2022</p>
            <p class="experience-body">Web developer. Full Stack, Power Platform, and Cloud developer (Azure) using the O365/Azure stack and JavaScript, Python, and C# as main languages.</p>
            <img width="20%" class="pt-2" data-bs-toggle="tooltip" title="Check company" src="{% static 'img/seidor_logo.png' %}"/>
        </div>

        <div class="col-md-6 text-center">
            <h5 class="experience-title">Web Developer (UK)</h5>
            <p class="experience-subtitle">Kinning Park Complex</p>
            <p class="experience-date">Sept 2018 - Sept 2019</p>
            <p class="experience-body">RPA developing using UiPath, PowerAutomate and Azure DevOps. Power Platform developer using PowerApps, PowerAutomate and Office365 services.</p>
            <img width="17%" data-bs-toggle="tooltip" title="Check company" src="{% static 'img/kinning_park_complex_logo.jpeg' %}"/>
        </div>
    </div>
</div>

<br/>
<br/>
<div class="education-section container bg-white pt-4 pb-4 rounded">
    <div class="row">
        <div class="col-md-2 text-center mb-3">
            <h5 class="education-title">BH Chemical Eng.</h5>
            <p class="education-subtitle">UAB University</p>
            <i class="fas fa-flask education-icon" data-bs-toggle="tooltip" title="Check project"></i>
        </div>
        <div class="col-md-2 text-center mb-3">
            <h5 class="education-title">Master-H&Safety</h5>
            <p class="education-subtitle"> C. San Pablo University</p>
            <i class="fas fa-shield-alt education-icon" data-bs-toggle="tooltip" title="Check project"></i>
        </div>
        <div class="col-md-2 text-center mb-3">
            <h5 class="education-title">HNC Web Development</h5>
            <p class="education-subtitle">Glasgow Kelvin College</p>
            <i class="fas fa-code education-icon" data-bs-toggle="tooltip" title="Check project"></i>
        </div>
        <div class="col-md-2 text-center mb-3">
            <h5 class="education-title">Bach. Computer Science</h5>
            <p class="education-subtitle">IOC College</p>
            <i class="fas fa-laptop education-icon" data-bs-toggle="tooltip" title="Check project"></i>
        </div>
        <div class="col-md-2 text-center mb-3">
            <h5 class="education-title">Machine Learning</h5>
            <p class="education-subtitle">European fundings Ed.</p>
            <i class="fas fa-robot education-icon" data-bs-toggle="tooltip" title="Check project"></i>
        </div>
        <div class="col-md-2 text-center mb-3">
            <h5 class="education-title">Big Data</h5>
            <p class="education-subtitle">Barcelona Activa</p>
            <i class="fas fa-database education-icon" data-bs-toggle="tooltip" title="Check project"></i>
        </div>
    </div>
</div>     

{% endblock %}
