{% extends 'base.html' %}
{% load static %}

{% block content %}

<h4 class="text-center mb-3"><bold>Experience</bold></h4>
<div class="experience-section container bg-white pt-5 ml-2 mb-4 rounded">
    <div class="row">
        <div class="col-md-6 text-center mb-3">
            <h5 class="experience-title">DS/Automation Specialist</h5>
            <p class="experience-subtitle">Linde</p>
            <p class="experience-date">Apr 2024 - Present</p>
            <p class="experience-body">As part of the digitalization team for the EMEA region, I have contributed to the design, development, and implementation of cutting-edge digital solutions.</p>
            <img class="pt-3 experience-image" data-bs-toggle="tooltip" title="Check company" src="{% static 'img/Linde_logo.png' %}"/>
        </div>

        <div class="col-md-6 text-center mb-3">
            <h5 class="experience-title">RPA Developer (Spain)</h5>
            <p class="experience-subtitle">OMYA</p>
            <p class="experience-date">Jun 2022 - Apr 2024</p>
            <p class="experience-body">RPA developing using UiPath, PowerAutomate and Azure DevOps. Power Platform developer using PowerApps, PowerAutomate and Office365 services.</p>
            <img class="pt-3 experience-image" data-bs-toggle="tooltip" title="Check company" src="{% static 'img/OMYA_logo.jpg' %}"/>
        </div>

        <div class="col-md-6 text-center mb-3">
            <h5 class="experience-title">Software Developer (Spain)</h5>
            <p class="experience-subtitle">Seidor</p>
            <p class="experience-date">Nov 2020 - Jun 2022</p>
            <p class="experience-body">Web developer. Full Stack, Power Platform, and Cloud developer (Azure) using the O365/Azure stack and JavaScript, Python, and C# as main languages.</p>
            <img class="pt-2 experience-image" data-bs-toggle="tooltip" title="Check company" src="{% static 'img/seidor_logo.png' %}"/>
        </div>

        <div class="col-md-6 text-center">
            <h5 class="experience-title">Web Developer (UK)</h5>
            <p class="experience-subtitle">Kinning Park Complex</p>
            <p class="experience-date">Sept 2018 - Sept 2019</p>
            <p class="experience-body">RPA developing using UiPath, PowerAutomate and Azure DevOps. Power Platform developer using PowerApps, PowerAutomate and Office365 services.</p>
            <img class="experience-image " data-bs-toggle="tooltip" title="Check company" src="{% static 'img/kinning_park_complex_logo.jpeg' %}"/>
        </div>
    </div>
</div>

<h4 class="text-center mb-3 mt-3"><bold>Skills</bold></h4>
<div class="education-section container bg-white p-2 rounded">
    <div class="row">
        <div class="col-md-2 text-center mt-2 mb-4">
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/javascript.png' %}"/>
        </div>
        <div class="col-md-2 text-center mt-2 mb-4">
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/python_logo.png' %}"/>
        </div>
        <div class="col-md-2 text-center mt-2 mb-4">
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/c_sharp.png' %}"/>
        </div>
        <div class="col-md-2 text-center mt-2 mb-4">
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/visual_basic.png' %}"/>
        </div>
        <div class="col-md-2 text-center mb-4">
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/power_platform_logo.png' %}"/>
        </div>
        <div class="col-md-2 text-center mb-4">                                       
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/uipath_logo.jpeg' %}"/>
        </div>
        <div class="col-md-2 text-center mb-4">
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/azure_logo.png' %}"/>
        </div>
        <div class="col-md-2 text-center mb-4">
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/afunction_logo.png' %}"/>
        </div>
        <div class="col-md-2 text-center mb-4">
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/cognitive_services_logo.jpg' %}"/>
        </div>
        <div class="col-md-2 text-center mb-4">
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/open_ai_logo.jpg' %}"/>
        </div>
        <div class="col-md-2 text-center mb-4">
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/azure_bot_framework_logo.png' %}"/>
        </div>
        <div class="col-md-2 text-center mb-4">
            <img class="navbar-icons" data-bs-toggle="tooltip" title="Check skill" src="{% static 'img/mathematic_logo.jpg' %}"/>
        </div>
    </div>
</div>

<h4 class="text-center mb-4 mt-4"><bold>Hobbies</bold></h4>
<div class="education-section container bg-white  rounded">
    <div class="row">
        <div class="col-md-4 text-center mb-2">
            <img width="10%" class="pt-4" data-bs-toggle="tooltip" title="Check hobby" src="{% static 'img/arduino_logo.png' %}"/>
        </div>
        <div class="col-md-4 text-center mb-2">
            <img width="10%" class="pt-1" data-bs-toggle="tooltip" title="Check hobby" src="{% static 'img/3d_printing_logo.jpg' %}"/>
        </div>
        <div class="col-md-4 text-center mb-2">
            <img width="10%" class="pt-3" data-bs-toggle="tooltip" title="Check hobby" src="{% static 'img/languages_logo.jpg' %}"/>
        </div>
    </div>
</div>   

{% endblock %}
