<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
        <handlers>
            <add name="StaticFileHandler" path="*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Serve Static Files" stopProcessing="true">
                    <match url="^static/(.*)$" />
                    <action type="Rewrite" url="staticfiles/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
